@model List<IEPProjekat.Models.Question>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
    <script>
        function CallChangefunc(val) {
            window.location.href = "/Client/filterCategory?category=" + val;
        }
    </script>
<h2>Index</h2>

    <div class="row">
        <div class="col-3">
            <button onclick="location.href='@Url.Action("goToAskQuestion", "Client")'" type="button" class="btn btn-primary">Ask a question!</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @Html.DropDownList("category", new SelectListItem[]
            {
                new SelectListItem() { Text = "All categories", Value = "0" },
                new SelectListItem() { Text = "1", Value = "1" },
                new SelectListItem() { Text = "2", Value = "2" },
                new SelectListItem() { Text = "3", Value = "3" },
                new SelectListItem() { Text = "4", Value = "4" }
            },
            new { @onchange = "CallChangefunc(this.value)" })
        </div>
    </div>
    <div class="row">
        <div class="col">
            @{ 
                int index = 0;
                foreach (var question in ViewBag.Questions)
                {
                    Html.RenderPartial("~/Views/Shared/OneQuestion.cshtml", new ViewDataDictionary(question));
                    index++;
                }
            }
            
            </div>
    </div>
