@model List<IEPProjekat.Models.Question>
@{
    ViewBag.Title = "Home Page";
}

<h2>Index</h2>

<div class="row">
    <div class="col">
        @Html.DropDownList("category", new SelectList(new List<String>() { "All categories", "1", "2", "3", "4" }))
    </div>
</div>
<div class="row">
    <div class="col">
        @{
            int index = 0;
            foreach (var question in ViewBag.Questions)
            {
                Html.RenderPartial("~/Views/Shared/OneQuestion.cshtml", new ViewDataDictionary(question));
                index++;
            }
        }

    </div>
</div>